<h3>以下の内容で、ツイートする</h3>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>内容</p>
  <%= @post.content %><br>
  <%= form.submit  "ツイートする" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
