<!DOCTYPE html>
<html>
  <head>
    <title>TestMutter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <h1>
      <a href="/">Mutter</a>
    </h1>
    <nav class="pc-nav">
      <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICE</a></li>
        <li><a href="#">TOPIC</a></li>
      </ul>
    </nav>
  </header>
    <%= yield %>
    <footer>
      <p>運営会社Mutter株式会社</p>
      <p>©  Mutter Corp.</p>
    </footer>
  </body>
</html>
